<div class="question">
  <div class="">
    <div class="">
      <!-- タイトルを出力する -->
      <%= question.title %>
    </div>
    <div class="">
      <!-- 問題文を出力する -->
      <%= question.q_content %>
    </div>
  </div>
  <div class="">
    <div class="">
      <!-- 解答文を出力する -->
      <%= question.q_answer %>
    </div>
  </div>
</div>
