<div class="question">
  <div class="question-content">
    <div class="q_title">
      <%= question.title %>
    </div>
    <div class="">
      <!-- 問題文を出力する -->
      <%= question.q_content %>
    </div>
  </div>
  
  <%if current_user.id == @room.user_id %>
    <div class="answer-content">
      <div class="q_answer">
        <!-- 解答文を出力する -->
        <%= question.q_answer %>
      </div>
    </div>
  <% end %>
</div>