<div class="question">
  <div id="questions" class="question-content">
    <div class="q_title">
      <h2><%= question.title %></h2>
    </div>
    <div class="">
      <h2><%= question.q_content %></h2>
    </div>
  </div>
  
  <%if current_user.id == @room.user_id %>
    <div id="answer" class="answer-content">
      <div class="q_answer">
        <h2><%= question.q_answer %></h2>
      </div>
    </div>
    </div>
  <% end %>
</div>