<div class="sample3">
  <div class="c1"></div>
  <span>
    <div class="menu">
      <div class="greeting">ルーム検索結果</div>
      <% @rooms.each do |room| %>
        <h2>ルーム名<h2>
        <%= link_to "#{room.name}に参加する", room_path(room), data: {turbolinks: false} %>
      <% end %>
      <div class="menu-list">
        <%= link_to rooms_url, data: {turbolinks: false} do %>
         <button class="button">TOPに戻る</button>
        <% end %>
      </div>
    </div>
  </span>
</div>

