@charset "utf-8";

/*========= ここからローディング画面のためのCSS ===============*/
/*========= ローディング画面のためのCSS ===============*/
#splash_home {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #333;
  z-index: 9999999;
  text-align:center;
  color:#fff;
}

#splash-logo_home {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


/*========= 画面遷移のためのCSS ===============*/

.body_home{
    background:#003366;/*遷移アニメーションと同じ色を指定*/
}

.body_home.appear{
    background:#003366;/*画面を開いた後の背景色を指定*/
}

/*画面遷移アニメーション*/
.splashbg1_home,
.splashbg2_home{
    display: none;
}

/*bodyにappearクラスがついたら出現*/
.body_home.appear .splashbg1_home,
.body_home.appear .splashbg2_home{
  display:block;
}

/*右に消えるエリア*/
.body_home.appear .splashbg1_home{
  animation-name:PageAnime_home;
  animation-duration:1.2s;
  animation-timing-function:ease-in-out;
  animation-fill-mode:forwards;
    content: "";
    position:fixed;
  z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
  left:50%;
    transform: scaleX(1);
    background-color: #003366;/*伸びる背景色の設定*/
}

@keyframes PageAnime_home{
  0% {
    transform-origin:left;
    transform:scaleX(1);
  }
  50% {
    transform-origin:right;
  }
  100% {
    transform-origin:right;
    transform:scaleX(0);
  }
}

/*左に消えるエリア*/
.body_home.appear .splashbg2_home{
  animation-name:PageAnime2_home;
  animation-duration:1.2s;
  animation-timing-function:ease-in-out;
  animation-fill-mode:forwards;
    content: "";
    position:fixed;
  z-index: 999;
    width: 100%;
    height: 100vh;
    top: 0;
  right:50%;
    transform: scaleX(1);
    background-color: #003366;/*伸びる背景色の設定*/
}

@keyframes PageAnime2_home{
  0% {
    transform-origin:right;
    transform:scaleX(1);
  }

  50% {
    transform-origin:left;
  }
  100% {
    transform-origin:left;
    transform:scaleX(0);
  }
}

  /*画面遷移の後現れるコンテンツ設定*/
#container_home{
	opacity: 0;/*はじめは透過0に*/
}


/*bodyにappearクラスがついたら出現*/
.body_home.appear #container_home{
  animation-name:PageAnimeAppear_home;
  animation-duration:1s;
  animation-delay:0.2s;
  animation-fill-mode:forwards;
  opacity: 0;
}

@keyframes PageAnimeAppear_home{
  0% {
  opacity: 0;
  }
  100% {
  opacity: 1;
}
}

/*========= レイアウトのためのCSS ===============*/

.h1_home{
  font-size:10rem;
}

h2{
  font-size:1.2rem;
  text-align: center;
  margin: 0 0 30px 0;
  color: white;
}


small{
  color:#FFFFFF;
  display: block;
  text-align: center;
}


section{
  padding:30px 30px;
}

section:nth-child(2n){
  
}

#footer{
  background:#003366;
  padding:20px;
}

/*========= ここまでローディング画面のためのCSS ===============*/




/*========= ここからスクロールするCSSの記述 ===============*/
/*========= レイアウトのためのCSS ===============*/

.h1_home{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  color:#fff;
  text-shadow: 0 0 15px #666;
  text-align: center;
}


/*========= スクロールをすると下のエリアが上にかぶさるCSS ===============*/

#header_home{
    /*headerを全画面で見せる*/
  width:100%;
  height: 100vh;
  position: relative;
  text-align: center; 
  color: white;
} 

#header_home:before{
    /*header の疑似要素に背景画像を指定*/
  content:"";
  position:fixed;
  top:0;
  left:0;
  z-index:-1;
  width:100%;
  height: 100vh;
  /*背景画像設定*/
  background:url(index.jpg) no-repeat center;
  background-size:cover;
}

/*下の被さるエリアの指定*/
#container_home_index{
  position: relative;
  z-index:1;
    /*以下はレイアウトのための記述*/
  background:#003366;
  text-align: center;
}

/*========= ここまでスクロールするCSSの記述 ===============*/


.menu {
  color: #fff;
  list-style: none;
}

.room_list {
  list-style: none;
}
li {
  color: #fff;
  list-style: none;
}